<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="APP_LOG_FILE" value="${LOG_FILE:-logs/gqw.log}"/>
    <property name="MODULE_LOG_DIR" value="${LOG_MODULE_DIR:-logs/analytics/modules}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [trace:%X{traceId}] [event:%X{analyticsEventUid}] [module:%X{appModule}] --- [%15.15thread] %-40.40logger{39} : %msg%n%wEx</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="APP_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_FILE}</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [trace:%X{traceId}] [event:%X{analyticsEventUid}] [module:%X{appModule}] --- [%15.15thread] %-40.40logger{39} : %msg%n%wEx</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archive/gqw.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <appender name="MODULE_ROUTER" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
            <key>appModule</key>
            <defaultValue>DEFAULT</defaultValue>
        </discriminator>
        <sift>
            <appender name="MODULE_ROLLING_FILE-${appModule}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${MODULE_LOG_DIR}/${appModule}.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [trace:%X{traceId}] [event:%X{analyticsEventUid}] [module:%X{appModule}] --- [%15.15thread] %-40.40logger{39} : %msg%n%wEx</pattern>
                    <charset>UTF-8</charset>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${MODULE_LOG_DIR}/archive/${appModule}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                    <maxFileSize>20MB</maxFileSize>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>2GB</totalSizeCap>
                    <cleanHistoryOnStart>false</cleanHistoryOnStart>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APP_ROLLING_FILE"/>
        <appender-ref ref="MODULE_ROUTER"/>
    </root>
</configuration>
